.nav_main_container nav {
	background-color: #4F8EC3;
	padding-top: 25px;
	width: 10em;
}

.nav_main_container a {
	color: #fff;
}

.main_container {
	padding: 25px;
}

.nav_main_container {
	height: 90vh;
}

/* Right-aligned section inside the top navigation */
.topnav-right > * {
	margin: .5em;
}

.topnav-right {
	right: 0;
	position: absolute;
	height: 7em;
	text-align: right;
}

.topnav-right .user_date {
	display: inline-block;
}

.topnav {
	overflow: hidden;
	width: 100%;
	height: 10vh;
	background-color: #98BF5B;
}

.topnav h1 {
	float: left;
	margin: 30px;
	font-size: 21pt;
}

.story_cards {
	margin: 20px 0;
}

.project_list {
	margin-top: 20px;
}

.float_button {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.story_cards .card-body div, .story_cards .card-header div {
	margin: 10px 0;
}

.my_tasks_list .card {
	margin: 7.5px 7.5px;
}

.main_container .title {
	border-bottom: solid 1px rgba(0,0,0,0.15);
	padding-bottom: 25px;
	margin-bottom: 20px;
}


#loadMore {
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}


.posts{
	display:none  ;
}

.select:hover{
	cursor: pointer;
}

