.nav_main_container nav {
	background-color: #4F8EC3;
	padding-top: 25px;
}

.nav_main_container a {
	color: #fff;
}

.main_container {
	padding: 25px;
}

.nav_main_container {
	height: 90vh;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
	float: right;
}

.topnav {
	overflow: hidden;
	width: 100%;
	height: 10vh;
	background-color: #98BF5B;
}

.topnav a {
	float: left;
	padding: 0 16px;
	text-decoration: none;
	font-size: 17px;
	margin-top: 30px;
  	position: relative;
  	margin-right: 30px;
}

.topnav .login-data {
	float: left;
	padding: 0 16px;
	margin-top: 30px;
	text-decoration: none;
}

.topnav h1 {
	float: left;
	margin: 30px;
	font-size: 21pt;
}

.story_cards {
	margin: 20px 0;
}

.project_list {
	margin-top: 20px;
}

.float_button {
	position: fixed;
	bottom: 20px;
	right: 20px;
}