{% extends 'base.html' %}
{% load static %}
{% block content %}


<h4 class="title">Projects</h4>

	{% for project in projects %}

	<div class="card col-4 project_list">
		<div class="card-body">
			<h5 style="margin-bottom: 15px;">{{ project.projectName }}</h5>
			<p style="margin-bottom: 15px;">Description: {{ project.description }}</p>
			<p style="margin-bottom: 15px;">Product owner: {{ project.product_owner }}</p>
			<p style="margin-bottom: 15px;">Scrum master: {{ project.scrum_master }}</p>
			{% if user.is_staff  or user.username == project.scrum_master.username %}
				<a title="Edit project details" class="btn btn-primary mt-1" href="project/update_project/{{ project.id }}">Edit</a>
			{% endif %}
			<a title="View project details" class="btn btn-primary mt-1" href="project?id={{ project.id }}">Details</a>
			<a title="View and edit project documentation" class="btn btn-primary mt-1" href="project/documentation?id={{ project.id }}">Documentation</a>
		</div>
	</div>
	
	{% endfor %}

{% endblock %}