{% extends 'base.html' %}
{% load static %}
{% block content %}

<h4>New story</h4>
<form class="col-4">
	<div class="mb-3">
		<label class="form-label" for="story_name">Name:</label>
		<input class="form-control" type="text" name="story_name">
	</div>
	<div class="mb-3">
		<label class="form-label" for="story_description">Description:</label>
		<input class="form-control" type="text" name="story_description">
	</div>
	<div class="mb-3">
	<label class="form-label" for="story_priority">Priority:</label>
	<select class="form-control" name="stoy_priority">
		<option value="must_have">Must have</option>
		<option value="should_have">Should have</option>
		<option value="could_have">Could have</option>
		<option value="wont_have">Won't have</option>
	</select>
	</div>
	<div class="mb-3">
		<label class="form-label" for="story_bussines_value">Bussines value:</label>
		<input class="form-control" type="text" name="story_bussines_value">
	</div>


</form>

{% endblock %}