{% extends 'base.html' %}
{% load static %}
{% block content %}

<script type="text/javascript">
    $(document).ready(function() {
        $("#new-post-form").submit(function(e){
            e.preventDefault()

            var serializedData = $(this).serialize();
        
            $.ajax({
                type: 'POST',
                url: "{% url 'new_post_form'%}",
                data: serializedData,
                success: function (response){
                    $("#new-post-form").trigger('reset');
                
                    $("#post_cards").prepend(
                        `<div class="card story_cards" style="visibilty:hidden;">
                            <div class="card-header">${response.username}
                                <p class="card-text topnav-right">${response.time_posted}</p>
                            </div>
                            <div class="card-body text-dark">
                            <p class="card-text">${response.description}</p>
                            </div>
                        </div>
                        `
                    );
                
                    
                },
                error: function (response) {
                    alertify.alert(response["responseJSON"]["errorMsg"]);
                }
            })
        });

        $(".posts").slice(0, 3).show();
        $("#loadMore").on('click', function (e) {
            e.preventDefault();
            $(".posts:hidden").slice(0, 3).slideDown();
            if ($(".posts:hidden").length == 0) {
                $("#load").fadeOut('slow');
            }
            $('html,body').animate({
                scrollTop: $(this).offset().top
            }, 1500);
        });

    });

    
    </script>

<h4 class="title">Project name: {{ project.projectName }}</h4>

<h6>Product owner: {{project.product_owner}}</h6>
<h6>Scrum Master: {{project.scrum_master}}</h6><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
        <form id="new-project-form" method="post" action="" >
            {% csrf_token %}
            
            <h5 >Story list</h5>
            
                {% if velocityExceeded %}
                    </br>
                    <p class="text-danger">
                        Sprint velocity exceded!
                    </p>
                {% endif %}
            
            {% for story in stories %}
            
            <div class="card story_cards" style="max-width: 24rem;">
                <div class="card-header">{{story.name}}</div>
                <div class="card-body">
                    <div>Description:
                    {{story.description}}</div>
                    <div>Priority:
                    {{story.priority}}</div>
                    <div>Business value:
                    {{story.businessValue}}</div>
            
            
                    {% if story.sprint == None and isScrumMaster %}
                    <div class="mb-3">
                        <div>
                            <label class="form-label" for="time_cost">Estimated time:</label>
                            <input value="{{story.timeCost}}" class="form-control" pattern="\d{1,5}\.\d{1,2}" type="text" name="timecost_{{ story.id }}">
                        </div>
                    </div>
                    {% else %}
                    Time cost: {{ story.timeCost }} h
                    {% endif %}
            
            
            
                    <div>Time spent:
                    {{story.timeSpent}} h</div>
                    <div>Comment:
                    {{story.comment}}</div>
                    <div>
                        {% if not notProductOwner and story.sprint in ended_sprints %}

                            <div class="mb-3">
                                <label for="status_{{ story.id }}">Development status:</label>
                                <select name="status_{{ story.id }}">
                                    <option value="new">New</option>
                                    <option value="in_progress">In progress</option>
                                    <option value="incomplete">Incomplete</option>
                                    <option value="accepted">Accepted</option>
                                    <option value="rejected">Rejected</option>
                                </select>
                            </div>

                        {% else %}
                        
                            Development status:
                            {{story.developmentStatus}}

                        {% endif %}

                    </div>
            
                    {% if story.sprint == None and story.timeCost != None and story.developmentStatus != 'accepted' and notProductOwner%}
            
            
                        <div class="mb-3">
                            <label for="sprint_{{ story.id }}">Add to current sprint (Velocity:{{ sprints.expectedSpeed }}; Still available: {{ velocityLeft }})</label><br>
                            <input class="mt-1" type="checkbox" name="sprint_{{ story.id }}" value="{{ sprints.id }}" style="width:30px; height:30px;">
                        </div>
            
                    {% else %}
            
                        <div>Sprint:
                        {{story.sprint.start}} - {{story.sprint.end}}</div>
            
                    {% endif %}
            
                    <a href="story?id={{ story.id }}" style="color:#4F8EC3">Tasks</a>
                </div>
                
                
                
            </div>
            
            
            {% endfor %}
            
                <input type="submit" value="Confirm changes" class="btn btn-primary " />
            
            </form>
        </div>
        <div  class="col-6">
            
            <h5 >Project wall</h5>
            <div id="post_cards">
                {% for post in posts %}
                    <div class="card story_cards posts" >
                        <div class="card-header">{{post.user.username}}
                            <p class="card-text topnav-right">{{post.time_posted}}</p>
                        </div>
                        <div class="card-body text-dark">
                        <p class="card-text">{{post.description}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a id="loadMore" class="btn btn-primary {% if posts.count <= 3 %} d-none {% endif %}" href="#">Load more</a>
            <div class="story_cards">
                <form id="new-post-form" >
                    {% csrf_token %}
                    <div class="mb-3">
                        <select hidden class="form-control" name="project" required>
                            <option hidden value="{{ project.id }}">{{ project.id }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description"></label>
                        <textarea class="form-control" rows="4" type="text" name="description" required></textarea>
                    </div>
                    <div class="mb-3"></div>
                    <input id="add-post-btn" type="submit" value="Add post" 
                                    class="btn btn-primary pull-right" name="{{ project.id }}"/>
                    {% if success == True %}
                    </br>
                    <p class="text-success">
                        Task added succesfuly!
                    </p>
                    {% endif %}

                </form>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}