{% extends 'base.html' %}
{% load static %}
{% block content %}

<h4 class="title">Project name: {{ project.projectName }}</h4>

<h6>Product owner: {{project.product_owner}}</h6>
<h6>Scrum Master: {{project.scrum_master}}</h6><br>

<form id="new-project-form" method="post" action="" class="col-4">
{% csrf_token %}

<h5 >Story list:</h5>

    {% if velocityExceeded %}
	    </br>
	    <p class="text-danger">
	        Sprint velocity exceded!
	    </p>
    {% endif %}

{% for story in stories %}

<div class="card story_cards">
    <div class="card-header">{{story.name}}</div>
    <div class="card-body">
        <div>Description:
        {{story.description}}</div>
        <div>Priority:
        {{story.priority}}</div>
        <div>Business value:
        {{story.businessValue}}</div>


        {% if story.sprint == None and notProductOwner and isScrumMaster %}
        <div class="mb-3">
            <div>
                <label class="form-label" for="time_cost">Estimated time:</label>
                <input value="{{story.timeCost}}" class="form-control" pattern="\d{1,5}\.\d{1,2}" type="text" name="timecost_{{ story.id }}">
            </div>
        </div>
        {% else %}
        Time cost: {{ story.timeCost }} h
        {% endif %}



        <div>Time spent:
        {{story.timeSpent}} h</div>
        <div>Comment:
        {{story.comment}}</div>
        <div>Development status:
        {{story.developmentStatus}}</div>

        {% if story.sprint == None and story.timeCost != None and story.developmentStatus != 'accepted' and notProductOwner%}


            <div class="mb-3">
                <label for="sprint_{{ story.id }}">Add to current sprint (Velocity:{{ sprints.expectedSpeed }}; Still available: {{ velocityLeft }})</label><br>
                <input type="checkbox" name="sprint_{{ story.id }}" value="{{ sprints.id }}" style="width:30px; height:30px;">
            </div>

        {% else %}

            <div>Sprint:
            {{story.sprint.start}} - {{story.sprint.end}}</div>

        {% endif %}

        <a href="story?id={{ story.id }}" style="color:#4F8EC3">Tasks</a>
    </div>
    
    
    
</div>


{% endfor %}

    <input type="submit" value="Confirm changes" class="btn btn-primary pull-right float_button" />

</form>
{% endblock %}