{% extends 'base.html' %}
{% load static %}
{% block content %}

<form id="new-project-form" method="post" action="" class="col-4">
{% csrf_token %}
<h4>{{ project.projectName }}</h4>
{% for story in stories %}


<div class="card story_cards">
    <div class="card-header">{{story.name}}</div>
    <div class="card-body">
        <div>Description:
        {{story.description}}</div>
        <div>Priority:
        {{story.priority}}</div>
        <div>Business value:
        {{story.businessValue}}</div>
        <div>Estimated time:
        {{story.timeCost}}</div>
        <div>Time spent:
        {{story.timeSpent}}</div>
        <div>Comment:
        {{story.comment}}</div>
        <div>Development status:
        {{story.developmentStatus}}</div>

        {% if story.sprint == None and story.timeCost != None and story.developmentStatus != 'accepted' %}


            <div class="mb-3">
                <label class="form-label" for="sprints{{ story.id }}">Availabele sprints:</label>
                <select class="form-select" name="{{ story.id }}"  >
                    <option value="None" hidden></option>
                    {% for sprint in sprints %}
                    <option value="{{ sprint.id }}" > {{ sprint.start }} - {{sprint.end}} </option>
                    {% endfor %}
                </select>
            </div>

        {% else %}

            <div>Sprint:
            {{story.sprint.start}} - {{story.sprint.end}}</div>

        {% endif %}
    </div>
</div>


{% endfor %}

    <input type="submit" value="Confirm changes" class="btn btn-primary pull-right float_button" />

</form>
{% endblock %}