{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block javascript %}
<script>
var sw = {
  // (A) INITIALIZE
  etime : null, // HTML time display
  erst : null, // HTML reset button
  ego : null, // HTML start/stop button
  init : function () {
    // (A1) GET HTML ELEMENTS
    sw.etime = document.getElementById("sw-time");
    sw.erst = document.getElementById("sw-rst");
    sw.ego = document.getElementById("sw-go");

    // (A2) ENABLE BUTTON CONTROLS
    sw.erst.addEventListener("click", sw.reset);
    sw.erst.disabled = false;
    sw.ego.addEventListener("click", sw.start);
    sw.ego.disabled = false;
  },

  // (B) TIMER ACTION
  timer : null, // timer object
  now : 0, // current elapsed time
  tick : function () {
    // (B1) CALCULATE HOURS, MINS, SECONDS
    sw.now++;
    var remain = sw.now;
    var hours = Math.floor(remain / 3600);
    remain -= hours * 3600;
    var mins = Math.floor(remain / 60);
    remain -= mins * 60;
    var secs = remain;

    // (B2) UPDATE THE DISPLAY TIMER
    if (hours<10) { hours = "0" + hours; }
    if (mins<10) { mins = "0" + mins; }
    if (secs<10) { secs = "0" + secs; }
    sw.etime.innerHTML = hours + ":" + mins + ":" + secs;
  },

  // (C) START!
  start : function () {
    sw.timer = setInterval(sw.tick, 1000);
    sw.ego.value = "Stop";
    sw.ego.removeEventListener("click", sw.start);
    sw.ego.addEventListener("click", sw.stop);
  },

  // (D) STOP
  stop  : function () {
    clearInterval(sw.timer);
    sw.timer = null;
    sw.ego.value = "Start";
    sw.ego.removeEventListener("click", sw.stop);
    sw.ego.addEventListener("click", sw.start);
  },

  // (E) RESET
  reset : function () {
    if (sw.timer != null) { sw.stop(); }
    timeSpent = document.getElementById("timeSpent").innerHTML.split(': ')[1]
    if(timeSpent == 'None'){
        timeSpent = Number(0.0)
    }
    else{
        timeSpent = Number(timeSpent)
    }

    timeSpent+=(sw.now/3600)

    document.getElementById("timeSpent").innerHTML="Time spent: " + timeSpent.toFixed(2);
    sw.now = -1;
    sw.tick();
  }
};
window.addEventListener("load", sw.init);



$(document).ready(function() {
  $(".fa-trash-alt").click(function(){
    var id = this.id
    $.ajax({
      type: 'DELETE',
      url: `/project/story/{{story.id}}/delete/${id}`,
      dataType: 'json',
      beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
      },
      success: function(response){
        $(`#row_${id}`).remove()
      },
      error: function(response){
        alertify.alert(response["responseJSON"]["errorMsg"])
      }
    })
  });



  function updateTaskModalForm(){
    $(".fa-edit").each(function(){
      var taskStoryId = this.id.split("_")
      var taskId = taskStoryId[0]
      var storyId = taskStoryId[1]
      $(this).modalForm({
        formURL: `/project/story/update_task/${taskId}/`,
        /*asyncUpdate: true,
        asyncSettings:{
          closeOnSubmit:true,
          successMessage: [],
          dataUrl: `/project/story/?id=${storyId}`,
          dataElementId: "#tasks-table",
          dataKey: "context",
          addModalFormFunction: updateTaskModalForm
        }*/
      });
    });
  }
  updateTaskModalForm()



});
</script>
{% endblock %}

<h4 class="title">Story name: {{ story.name }}</h4>
<div  class="col-4">
{% csrf_token %}
{% if sprint_active == True and user_is_product_owner == False %}
    <a href="new_task?story_id={{ story.id }}"  class="btn btn-primary ">Add task</a><br>
{% elif sprint_active == False %}
    <p class="text-danger">
        Story not part of an active sprint!
    </p>
{% endif %}
<br>
<h5 >Tasks list:</h5>


<table id="tasks-table" class="table table-hover">
  <thead>
    <tr class="d-flex">
      <th scope="col" style="width:23px;"><br>#</th>
      <th scope="col" class="col-12 align-self-baseline"><br>Description</th>
      <th scope="col" class="col-2 align-self-baseline">Time cost (h)</th>
      <th scope="col" class="col-2 align-self-baseline">Time spent (h)</th>
      <th scope="col" class="col-2 align-self-baseline">Assigned to</th>
      <th scope="col" class="col-3">Confirmation status</th>
      <th scope="col" class="col-2 align-self-baseline"><br>Done</th>
      {% if user_is_product_owner == False %}
      <th scope="col" class="col-2 align-self-baseline"><br><br></th>
      <th scope="col" class="col-1 align-self-baseline"><br><br></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for task,time in tasks_times %}
        <tr class="d-flex" id="row_{{task.id}}">
          <th scope="row" style="width:25px;">{{ forloop.counter }}</th>
          <td class="col-12">{{task.description}}</td>
          <td class="col-2">{{task.timeCost}}</td>
          <td class="col-2">{{time}}</td>
          <td class="col-2">{{task.assignedUser}}</td>
          <td class="col-3">{{task.userConfirmed}}</td>
          <td class="col-2">
            {% if task.done %}
              <i class="fas fa-check text-success"></i>
            {% else %}
              <i class="fas fa-times text-danger"></i>
            {% endif %}
          </td>
          {% if user_is_product_owner == False and task.userConfirmed != 'accepted' and time == 0  %}
          <td class="col-1">
              <i class="fas fa-trash-alt cog select" id="{{task.id}}" style="margin-top: 4px;"></i>
          </td>
          <td class="col-2" style="padding-right: 20px;">
              <i class="fas fa-edit cog" id="{{task.id}}_{{story.id}}" style="margin-top: 4px;"></i>
          </td>
          {% elif user_is_product_owner == False %}
          <td scope="col" class="col-1"></td>
          <td scope="col" class="col-2"></td>
          {% endif %}
        </tr>
    {% endfor %}
  </tbody>
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>



    <!--
    <div id="stopwatch" style="display: flex; flex-wrap: wrap; max-width: 160px; margin: 0 auto;">

      <div id="sw-time" style="width: 100%; padding: 20px 0; font-size: 24px; font-weight: bold; text-align: center; background: #000; color: #fff;">00:00:00</div>


      <input style="box-sizing: border-box; width: 50%; cursor: pointer; padding: 7px 0; border: 0; color: #fff; font-size: 20px; background-color: #a32208;" type="button" value="Done" id="sw-rst" disabled/>
      <input style="box-sizing: border-box; width: 50%; cursor: pointer; padding: 7px 0; border: 0; color: #fff; font-size: 20px; background-color: #20a308;" type="button" value="Start" id="sw-go" disabled/>
    </div>
    -->




  </div>
{% endblock %}