{% extends 'base.html' %}
{% load static %}
{% block content %}

<h4 class="title">Edit project</h4>
<form id="update-project" method="post" 
action="{% url 'update_project' project.id %}" class="col-4">
    {% csrf_token %}
	<div class="mb-3">
		<label class="form-label" for="project_name">Name:</label>
		<input title="Edit project name" value="{{project.projectName}}" class="form-control" type="text" name="project_name" required>
        {% if name_exists == True %}
            <p class="text-danger">
                Project name already exists!
            </p>
        {% endif %}
	</div>
    <div class="mb-3">
		<label class="form-label" for="description">Description:</label>
		<textarea title="Edit project description" class="form-control" rows="5" type="text" name="description" required>{{project.description}}</textarea>
	</div>
	<div class="mb-3">
		<label class="form-label" for="product_owner">Product owner:</label>
		<select title="Select product owner" class="form-control" name="product_owner">
        {% for user in users %}
            <option {% if user.username == current_product_owner %} selected {% endif %} value="{{ user.username }}">{{ user.username }}</option>
        {% endfor %}
        </select>
	</div>
	<div class="mb-3">
        <label class="form-label" for="scrum_master">Scrum master:</label>
		<select title="Select scrum master" class="form-control" name="scrum_master">
        {% for user in users %}
            <option {% if user.username == current_scrum_master %} selected {% endif %} value="{{ user.username }}">{{ user.username }}</option>
        {% endfor %}
        </select>
	</div>
	<div class="mb-3">
		<label class="form-label" for="developers">Developers:</label>
		<select title="Select developers" class="form-select" multiple name="developers">
        {% for dev in devs %}
            <option selected value="{{ dev.userId.username }}" selected="selected">{{ dev.userId.username }}</option>
        {% endfor %}
        {% for user in other_users %}
           <option value="{{ user.username }}" >{{ user.username }}</option> 
        {% endfor %}
        </select>
        {% if dev_and_product_own == True %}
            <p class="text-danger">
                Product owner cannot be developer!
            </p>
        {% endif %}
	</div>
    <div class="mb-3"></div>
    <input type="submit" value="Save project" 
                       class="btn btn-primary pull-right float_button" />
    {% if success == True %}
    </br>
    <p class="text-success">
        Project saved succesfuly!
    </p>
    {% endif %}

</form>

{% endblock %}