{% load widget_tweaks %}


<form id="update-task" method="post" action="">
    {% csrf_token %}
    <div class="modal-header">
        <h3 class="modal-title">Update Book</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
        </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description:</label>
                <textarea class="form-control" rows="5" type="text" name="description" required>{{task.description}}</textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="time_cost">Time cost (h):</label>
                <input value="{{task.timeCost}}" placeholder="00.00" class="form-control" maxlength="5" pattern="\d{1,5}\.\d{1,2}" type="text" type="text" name="time_cost" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="assignedUser">Assign to:</label>
                <select class="form-control" name="assignedUser">
                    <option value="{{task.assignedUser}}" selected>{{task.assignedUser}}</option>
                    {% if task.assignedUser != None %}
                        <option value="None">None</option>
                    {% endif %}
                {% for user in users %}
                    <option value="{{ user.userId }}">{{ user.userId }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="done" {% if task.done %}checked{% endif %}>
                  <label class="form-check-label" for="flexSwitchCheckDefault">Done</label>
                </div>
            </div>
            {% if error == True %}
            </br>
            <p class="text-danger">
                {{error_msg}}
            </p>
            {% endif %}
      </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary pull-right" >Save changes</button>
        </div>
  </form>